<div class="container">
  <div class="row">
    <div class="col-xs-12"><br>
      <button class="btn btn-primary"
        (click)="onlyodd = !onlyodd">Only Add Odd Numbers</button>
       <br><br>
      <ul class="list-group">
        <div *ngIf="onlyodd">
          <li class="list-group-item"
              [ngClass]="{oddClass: odd % 2 !== 0}"
              [ngStyle]="{backgroundColor: odd % 2 !==0 ? 'green' : 'red'}"
          *ngFor="let odd of OddNumbers">
            {{ odd }}
          </li>
        </div>
        <div *ngIf="!onlyodd">
          <li class="list-group-item"
          *ngFor="let even of evenNumbers">
           {{ even }}
          </li>
        </div>
        <ng-template [ngIf]="!onlyodd">
          <div>
            <li class="list-group-item"
                *ngFor="let even of evenNumbers">
              {{ even }}
            </li>
          </div>
        </ng-template>
        <!--User created structural directives-->
        <div *appUserCreatedStruDirective="onlyodd">
            <li class="list-group-item"
                *ngFor="let even of evenNumbers">
              {{ even }}
            </li>
        </div>
        <!--<ng-template> accept user created directives in [] not preceded with *-->
        <ng-template [appUserCreatedStruDirective]="onlyodd">
          <div>
            <li class="list-group-item"
                *ngFor="let even of evenNumbers">
              {{ even }}
            </li>
          </div>
        </ng-template>
      </ul>
      <!--User Created Directive -->
      <!--use to highlight some elements if we want-->
     <p [appBasicDirective]="'red'">Demonstrate basic Directive</p><!--property binding[appBasicDirective]->argument to @Input('appBasicDirective')-->
      <p appBetterDirective [defaultColor]="'orange'" [highlightedColor]="'red'">Demonstrate better Directive</p>

      <!--ngSwitch explained-->
      <input type="text" #inputValue [(ngModel)]="value1">

      <!--<button class="btn btn-primary" (click)="onValueChanged(inputValue)">Change Value</button>-->
      <div [ngSwitch]="value1">
        <p *ngSwitchCase='1'> value is {{ value1 }}</p>
        <p *ngSwitchCase='2'> value is {{ value1 }}</p>
        <p *ngSwitchCase='3'> value is {{ value1 }}</p>
        <p *ngSwitchDefault> Default</p>
      </div>
    </div>
  </div>
</div>
